USE [KH_HMSERP]
GO
/****** Object:  Table [dbo].[HR_Department]    Script Date: 9/22/2025 11:24:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_Department](
	[HR_DeptID] [int] IDENTITY(1,1) NOT NULL,
	[HR_DeptCode] [nvarchar](50) NULL,
	[HR_DeptName] [nvarchar](50) NOT NULL,
	[CompanyID] [int] NULL,
	[Status] [nchar](1) NOT NULL,
	[CreateUserID] [nvarchar](10) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditUserID] [nvarchar](10) NULL,
	[EditDate] [datetime] NULL,
 CONSTRAINT [PK_HRM_Department] PRIMARY KEY CLUSTERED 
(
	[HR_DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HR_Department] ADD  CONSTRAINT [DF_HRM_Department_Status]  DEFAULT (N'Y') FOR [Status]
GO
